@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.section {
    padding: 80px 0;
}

#main {
    height: 100%;
    width: 100%;
}

#header {
    height: 10%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

h1 {
    color: #032D60;
    font-weight: 700;
    font-size: 40px;
    /* cursor: pointer; */ 

}

.logo {
    height: 70%;
    margin: 25px;
    cursor: pointer;

}

.logo img {
    width: 78%;
    height: 100%;
}

#contactDetails {
    font-weight: 250;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.page2 {
    color: black;
}

#contactDetails:hover {
    color: rgb(54, 168, 255);
}

.texts {
    color: black;
    font-family: cursive;
    transition: 0.3s;
    cursor: pointer;

}

.texts:hover {
    color: rgb(54, 168, 255);
}

.icon {
    padding: 8px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;

}

.icon:hover {
    background-color: rgba(127, 255, 212, 0.261);
    color: rgb(54, 168, 255);
}

.login {
    display: flex;
    padding: 10px;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.login:hover {
    background-color: rgba(127, 255, 212, 0.261);
    color: rgb(54, 168, 255);
}

#Try {
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
    color: white;
    cursor: pointer;
}

#Try:hover {
    background-color: rgb(0, 37, 0);
}

.fakeHeader {
    height: 10%;
    width: 100%;
}

/* Page-1 Starts */

#page1 {
    height: 5%;
    width: 100%;
    display: flex;
    background-color: #032D60;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    gap: 20px;
}

#page1 .p-know {
    text-decoration: underline;
}

#page1 .p-know:hover {
    text-decoration: none;
}

/* Page-2 Starts */

#page2 {
    /* height: 70%; */
    width: 100%;
    background-image: url(https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2025/08/Frame-2-1-1.png?resize=2048,711);
    background-repeat: no-repeat;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding-top: 80px;
    align-items: center;

}

#page2 .h1 {
    padding-top: 3%;
    color: #032D60;
    font-size: 56px;

}

#page2 .h2 {
    color: #0d9dda;
    font-size: 56px;
    padding-top: 15px;
}

#page2 p {
    color: black;
    font-size: 23px;
    padding-top: 20px;
}

#page2 .p2 {
    padding-top: 20px;
}

.btn-group {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}

.btn {
    padding: 12px 28px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

.btn-primary {
    background: #0078d4;
    color: white;
    border: 2px solid #0078D4;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #012e53;
    color: white;
    border: 2px solid #0078D4;
}

.btn-outline {
    color: #0078D4;
    border: 2px solid #0078D4;
    background: transparent;
    transition: 0.3s;
}

.btn-outline:hover {
    color: #002644;
    border: 2px solid #002644;
    background: transparent;
}

.video-box video {
    width: 100%;
    display: block;
    border-radius: 20px;
    height: 330px;
    max-width: 550px;
    margin: 0 auto;
    cursor: pointer;
}



@media screen and (max-width: 767px) {
    .column {
        width: 100%;
        float: none;
    }
}

/* Page-3 Starts */



.video-box-2 video {
    width: 100%;
    display: block;
    border-radius: 20px;
    height: 330px;
    max-width: 550px;
    cursor: pointer;
}

.titles h1 {
    color: #032D60;
    font-size: 50px;
    /* position: absolute;
    left: 52%; */
}

.titles p {
    letter-spacing: 0.3px;
    font-weight: 350;
}

.btn-group-2 {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

/* Page-4 Starts */


.page4 .page4-h1 {
    color: #032D60;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.templats {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin-top: 30px;
}

.templat:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}


.templat {
    width: 18%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.5s;
    overflow: hidden;
}

.templat h1 {
    font-size: 25px;
    padding-left: 18px;
}

.templat img {
    width: 100%;
    height: 40%;
    border-radius: 20px;
    transition: ease .3s all;
    cursor: pointer;
}

.templat:hover img {
    transform: scale(1.1);
}

/* .templat img:hover {
    /* size: 20px; */
/* */
.templat h1 {
    font-size: 22px;
    padding-right: 107px;
    transition: 0.3s;
    font-family: system-ui;
}

.templat h1:hover {
    color: #0063db;
}

.templat p {
    font-size: 16px;
    padding: 10px 28px;
    font-family: cursive;
}

.templat .p2 {
    font-size: 15px;
    padding: 28px 35px;
    color: #002048;
    font-weight: 600;
    text-decoration: underline;
    transition: 0.3s;

}

.templat .p2:hover {
    text-decoration: none;
    color: #0254b9;
}

.View-btn {
    color: #0392ff;
    border: 2px solid #0078D4;
    background: transparent;
    transition: 0.3s;
    /* position: absolute; */
    display: inline-flex;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 40px;
}

.View-btn:hover {
    color: #002038;
    border: 2px solid #01355c;
}

.View-btn-h1 {
    /* padding-top: 40%; */
    padding-top: 80px;
    font-weight: 900;
    color: #032D60;
    text-align: center;
}

.View-btn-p {
    text-align: center;
    font-size: large;
    padding-top: 20px;
    font-weight: 300;

}

/* Page-5 Starts */


.bg-none {
    background-image: none !important;
}

.text-cneter {
    text-align: center;
}

.box1 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

.card__content__wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

.card__content__wrapper {
    height: 260px;
    width: 19%;
    margin-top: 40px;
    /* background-color: orange; */
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

h2 {
    padding-top: 20px;
    padding-left: 20px;
    color: #003054;
    font-weight: 900;
    transition: 0.5s;
}

h2:hover {
    color: #0078D4;
}

.box1-p {
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 300;
}

.p-u {
    padding-top: 55px;
    padding-left: 20px;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
    color: #012037;

}

.p-u:hover {
    text-decoration: none;
    color: #0078d4ce;
}

.bg-img {
    background-image: url(https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2023/03/pb-hp-products-bg.png?resize=2048,625);
    position: relative;
    padding: 80px 0 140px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.industry-btn {
    color: #0392ff;
    border: 2px solid #0078D4;
    background: transparent;
    transition: 0.3s;
    display: inline-flex;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 45%;
}

.industry-btn:hover {
    color: #003c69;
    border: 2px solid #003c69;
}


.grid h1 {
    text-align: center;
    padding-top: 60px;
    font-size: 50px;
}

.grid p {
    text-align: center;
    padding-top: 30px;
    font-weight: 350;
    line-height: 30px;
    font-size: larger;
}

.grid-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.grid-btn {
    background: #0078d4;
    color: white;
    border: 2px solid #0078D4;
    transition: 0.3s;
}

.grid-btn:hover {
    background: #003055;
}

.grid-btn2 {
    color: #0078D4;
    border: 2px solid #0078D4;
    background: transparent;
    transition: 0.3s;
}

.grid-btn2:hover {
    color: #00182a;
    border: 2px solid #00182a;
}

.learn-btn{
    padding: 15px 54px;
}

.module {
    height: 100%;
    width: 100%;
    padding-top: 82px;
}

.module .module-h1 {
    text-align: center;

}

.module .module-p {
    padding-top: 25px;
    line-height: 25px;
    font-weight: 300;
    font-size: large;
    text-align: center;

}

.All-box {
    display: flex;
    gap: 30px;
    padding-top: 40px;
    justify-content: center;
}

.box {
    height: 28vw;
    width: 24%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box img {
    width: inherit;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    cursor: pointer;

}

.box h3 {
    margin-right: 75%;
    margin-left: 40px;
    padding: 7px;
    font-size: 12px;
    font-weight: 350;
    background-color: #00469c2a;
    border-radius: 15px;
    text-align: center;

}

.box p {
    padding-top: 25px;
    line-height: 25px;
    font-weight: 300;
    font-size: large;
    padding-left: 30px;
}

.box h2 {
    padding-left: 30px;

}

.box .p-u{
    font-weight:400 ;
    font-size: 17px;
    margin-top: 50px;
}

.section h1{
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
}

.gap-2{
    margin-top: 45px;
}
.gap-1{
    margin-top: 25px;
}


.card__logomark__wrapper-main{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;

}

.card__logomark__wrapper{
    width: 190px;
    height: 85px;
    border-radius: 8px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card__logomark__wrapper img{
    padding: 12px;
    width: inherit;
}

.bg-img-last img{
    width: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}












