@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

#main {
    height: 100%;
    width: 100%;
}

#header {
    height: 10%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.logo {
    height: 70%;
    margin: 25px;
}

.logo img {
    width: 78%;
    height: 100%;
}

#contactDetails {
    font-weight: 250;
    color: black;
    transition: 0.3s;
}

.page2 {
    color: black;
}

#contactDetails:hover {
    color: rgb(54, 168, 255);
}

.texts {
    color: black;
    display: flex;
    transition: 0.3s;
    gap: 2;
}

.texts:hover {
    color: rgb(54, 168, 255);
}

.icon {
    padding: 8px;
    border-radius: 50%;
    transition: 0.5s;
}

.icon:hover {
    background-color: rgba(127, 255, 212, 0.261);
    color: rgb(54, 168, 255);
}

.login {
    display: flex;
    padding: 10px;
    border-radius: 50px;
    transition: 0.5s;
}

.login:hover {
    background-color: rgba(127, 255, 212, 0.261);
    color: rgb(54, 168, 255);
}

#Try {
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
    color: white;
}

#Try:hover {
    background-color: rgb(0, 37, 0);
}

.fakeHeader {
    height: 10%;
    width: 100%;
}

/* Page-1 Starts */

#page1 {
    height: 5%;
    width: 100%;
    display: flex;
    background-color: #032D60;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    gap: 20px;
}

#page1 .p-know{
    text-decoration: underline;
}

#page1 .p-know:hover{
    text-decoration: none;
}

/* Page-2 Starts */

#page2 {
    height: 70%;
    width: 100%;
    background-image: url(https://wp.sfdcdigital.com/en-in/wp-content/uploads/sites/21/2025/08/Frame-2-1-1.png?resize=2048,711);
    background-repeat: no-repeat;
    padding-left: 10%;
    padding-right: 10%;

}

#page2 h1 {
    padding-top: 3%;
    color: #032D60;
    font-size: 56px;

}

#page2 .h2 {
    color: #0d9dda;
    font-size: 56px;
    padding-top: 15px;
}

#page2 p {
    color: black;
    font-size: 23px;
    padding-top: 20px;
}

#page2 .p2 {
    padding-top: 20px;
}

.btn-group {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}

.btn {
    padding: 12px 28px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

.btn-primary {
    background: #0078d4;
    color: white;
    border: 2px solid #0078D4;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #012e53;
    color: white;
    border: 2px solid #0078D4;
}

.btn-outline {
    color: #0078D4;
    border: 2px solid #0078D4;
    background: transparent;
    transition: 0.3s;
}

.btn-outline:hover {
    color: #002644;
    border: 2px solid #002644;
    background: transparent;
}


.video-box {
    position: absolute;
    top: 269px;
    right: 15%;
    width: 33%;
    z-index: 1;
}

.video-box video {
    width: 100%;
    display: block;
    border-radius: 20px;
    height: 330px;
}



@media screen and (max-width: 767px) {
    .column {
        width: 100%;
        float: none;
    }
}

/* Page-3 Starts */

#page3 {
    height: 50%;
    width: 100%;
    /* background-color: aquamarine; */
}

.video-box-2 {
    position: absolute;
    width: 33%;
    z-index: 1;

}

.video-box-2 video {
    width: 100%;
    display: block;
    border-radius: 20px;
    height: 330px;
    position: absolute;
    left: 31%;
}

.titles h1 {
    color: #032D60;
    font-size: 50px;
    position: absolute;
    left: 52%;
}

.titles p {
    position: absolute;
    left: 53%;
    top: 100%;
    letter-spacing: 0.3px;
    font-weight: 350;
}

.btn-group-2 {
    position: absolute;
    left: 55%;
    top: 112%;
    display: flex;
    gap: 20px;
}

/* Page-4 Starts */

.page4 {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}

.page4 h1 {
    color: #032D60;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.templats {
    position: absolute;
    top: 153%;
    left: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 35px;
}

.templat {
    width: 18%;
    height: 45%;
    /* background-color: brown; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
}

.templat img {
    width: 100%;
    height: 40%;
    border-radius: 20px;
}

/* .templat img:hover {
    /* size: 20px; */
*/ .templat h1 {
    font-size: 22px;
    padding-right: 107px;
    transition: 0.3s;
}

.templat h1:hover {
    color: #0063db;
}

.templat p {
    font-size: 14px;
    padding: 10px 28px;
}

.templat .p2 {
    font-size: 15px;
    padding: 28px 35px;
    color: #002048;
    font-weight: 600;
    text-decoration: underline;
    transition: 0.3s;

}

.templat .p2:hover {
    text-decoration: none;
    color: #0254b9;
}

.View-btn {
    color: #0392ff;
    border: 2px solid #0078D4;
    background: transparent;
    transition: 0.3s;
    position: absolute;
    left: 44%;
    top: 205%;
    padding: 15px;
    border-radius: 10px;
    font-weight: 600;
}

.View-btn:hover {
    color: #002038;
    border: 2px solid #01355c;
}